/*
Typographical and general rules for site
#e7e0d7 - Light tan
#97b7bf - blue
#585459 - Dark Gray
*/
body {
    font-family: "Avenir Next", "Futura", "Segoe UI", sans-serif;
    line-height: 1.6;
    background: #ccc;
    color: #333;
}

nav, h2 {
    font-family: "Palatino", Georgia, serif;
}

h1 {
    padding: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.125em;
    border-bottom: 1px solid #999;
}

p {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

/*
Header, logo and nav Styles
*/

.logo {
    float:left;
    height: 3em;
    padding: 0.25em;
}

nav {
    overflow: auto;
    background: white;
    float:right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav a, nav a:link, nav a:visited {
    text-decoration: none;
    color: #585459;
    display: block;
    text-transform: uppercase;
    padding: 1em;
    background: white;
}

nav a:hover, nav a:active, nav a.selected {
    background: #585459;    
    color: white;
}

a.social, a.social:link, a.social:visited {
    text-decoration: none;
    color: #585459;
    display: block;
    padding: 3em 1em 0em 0em;;
    font-size: 0.75em;
    float: right;
    background: rgba(0,0,0,0);
}

header {
    overflow: hidden;
    border-bottom: 2px solid #585459;
    margin-bottom: 1em;
}

header * {
    vertical-align: bottom;
}

/*
Page Layout Styles
*/

#container {
    width: 95%;
    max-width: 1024px;
    margin: auto;
    background: #fff;
    overflow: auto;
    box-shadow: 0px 0px 2px #585459;
}

section, aside {
    box-sizing: border-box;
    float:left;
    padding: 0.5em;
}

aside {
    width: 33.33333%;
}

#main {
    width: 66.66666%;
}


/*
Form Styles
*/

form * {
    display:block;
}

form label {
    font-weight: 300;
    margin-bottom: -0.25em;
    margin-top: 0.5em;
}

input {
    font-size: 1.125em;
    padding: 0.25em;
}

input[type=submit] {
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.25em;
    background: #585459;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #999;
}

/*
Footer Styles
*/

footer {
    clear: both;
    padding: 0.5em;
    background: #999;
    color: #FFF;
    overflow: auto;
}

footer h3 {
    margin-left: 0.25em;
}

footer ul li {
    float:left;
    margin: 0em 0.25em;
}

footer ul img {
    width: 2em;
} 


/*
Make the container fill the width
*/
@media screen and (max-width: 770px) {
    #container {
        width: 100%;
    }
}

/*
The logo now is a hero image along the top. Used svg to avoid pixelation
*/
@media screen and (max-width: 710px) {
    .logo {
        width: 100%;
        height: auto;
    }
}

/*
Switch to single column layout and reduce header sizes for smaller screens
*/
@media screen and (max-width: 600px) {
    aside {
        width: 100%;
    }

    #main {
        width: 100%;
    }
    
    h2 {
        font-size: 1.25em;
    }
}
/*
Switch navigation to vertical list
*/
@media screen and (max-width: 405px) {
    nav {
        float:none;
        width: 100%;
    }

    nav ul li {
        float: none;
        text-align: center;
    }
}